/* global stylesheet */
* {font-family: "Helvetica" !important;}

body {
	margin: 0px auto;
	min-width: 1024px;
	text-align: center;
}

.box-container {
	background-repeat: no-repeat;
	background-position: center;
	margin: 0px auto;
}

.nattierblue { background-color:#eaf7fd /*rgb(220, 255, 255)*/; }
.white { background-color: rgb(255, 255, 255); }
.darkgray { background-color: rgb(51, 51, 51); }
.darkblue { background-color: rgb(30, 64, 138); }

.text-white { color: rgb(255, 255, 255); }
.text-darkblue { color: rgb(30, 64, 138); }

.wrap {
	width:1024px;
	height:100%;
	margin: 0px auto;
	position: relative;
}

.text-transparent {
	opacity: 0.65;
}

.page-title {
	width: 100%;
	font-size: 42px;
	font-weight: bold;
	color: rgb(255, 255, 255);
	text-shadow:5px 2px 6px #000;
}

.page-sub-title {
	width: 100%;
	font-size: 30px;
	font-weight: bold;
}

.sec-title {
	font-size: 24px;
	font-weight: bold;
}

.sec-content {
	font-size: 18px;
}

.content {
	width: 100%;
	font-size: 18px;
}

/* index.php stylesheet */

.index-header-container {
	background-image: url(assets/image/1/banner.jpg);
	background-repeat: no-repeat;
	background-position: center;
	height: 870px;
	overflow: visible;
}

.index-business-container {
	margin-top: 12px;
	background-image: url(assets/image/1/bg_4.png);
	background-repeat: no-repeat;
	background-position: center;
	overflow: visible;
	height: 344px;
}

.index-blockchain-container {
	background-image: url(assets/image/1/bg_1.jpg);
	background-repeat: no-repeat;
	background-position: center;
	height: 1112px;
	overflow: visible;
}

.index-achievements-container {
	background-image: url(assets/image/1/bg_2.jpg);
	background-repeat: no-repeat;
	background-position: center;
	height: 582px;
	overflow: visible;
}

.index-news-container {
	background-image: url(assets/image/1/bg_3.jpg);
	background-repeat: no-repeat;
	background-position: center;
	height: 485px;
	overflow: visible;
}

.index-part1-container {
	height: 870px;
	max-width:1920px;
}

.index-part2-container {
	height: 344px;
	max-width:1920px;
}

.index-part3-container {
	height: 1112px;
	max-width:1920px;
}

.index-part4-container {
	height: 582px;
	max-width:1920px;
}

.index-part5-container {
	height: 485px;
	max-width:1920px;
}

.index-part1-logo {
	background-image: url(assets/image/1/logo.png);
	background-repeat: no-repeat;
	width: 100px;
	height: 89px;
	position: absolute;
	top: 280px; /*180px;*/
	left: 462px;
	opacity: 0;
}

.index-part1-name {
	text-shadow:5px 2px 6px #000;
	position:absolute;
	text-align: center;
	top: 380px; /*280px;*/
	left: 0px;
	opacity: 0;
}

.index-part1-main {
	width: 100%;
	font-size: 46px;
	font-weight: bold;
	text-shadow:5px 2px 6px #000;
	position:absolute;
	text-align: center;
	top: 480px; /*380px;*/
	left: 0px;
	opacity: 0;
}

.index-part1-content {
	width: 100%;
	font-size: 24px;
	text-shadow:5px 2px 6px #000;
	position:absolute;
	text-align: center;
	top: 610px; /*510px;*/
	left: 0px;
	opacity: 0;
}

.index-part2-sub-container {
	height: 740px;
	top: 0px;
	position: absolute;
}

.index-part2-research {
	width: 512px;
	left: 0px;
}

.index-part2-investing {
	width: 402px;
	left: 622px;
}

.index-part2-title {
	position: absolute;
	top: 74px;
	text-align: left !important;
}

.index-part2-line {
	left: 0px;
	position: absolute;
	top: 110px;
	width: 390px;
	height: 5px;
	opacity: 0;
}

.index-part2-icon {
	background-repeat: no-repeat;
	background-position: center;
	position:absolute;
	left: 0px;
	opacity: 0;
}

.index-part2-icon-QR {
	background-image: url(assets/image/1/QR_icon.png);
	top: 155px;
	width: 54px;
	height: 53px;
}

.index-part2-icon-AD {
	background-image: url(assets/image/1/AD_icon.png);
	top: 235px;
	width: 53px;
	height: 58px;
}

.index-part2-icon-BC {
	background-image: url(assets/image/1/cryptocurrencies_icon.png);
	top: 155px;
	width: 52px;
	height: 54px;
}

.index-part2-icon-LE {
	background-image: url(assets/image/1/LE_icon.png);
	top: 235px;
	width: 53px;
	height: 54px;
}

.index-part2-title-QR {
	position: absolute;
	text-align: left;
	top: 160px;
	left: 90px;
	opacity: 0;
}

.index-part2-title-AD {
	position: absolute;
	text-align: left;
	top: 235px;
	left: 90px;
	opacity: 0;
}

.index-part2-content-QR {
	position: absolute;
	text-align: left;
	top: 190px;
	left: 90px;
	opacity: 0;
}

.index-part2-content-AD {
	position: absolute;
	text-align: left;
	top: 265px;
	left: 90px;
	opacity: 0;
}

.index-part2-title-BC {
	position: absolute;
	text-align: left;
	top: 160px;
	left: 90px;
	opacity: 0;
}

.index-part2-title-LE {
	position: absolute;
	text-align: left;
	top: 245px;
	left: 90px;
	opacity: 0;
}

.index-part3-title-BC {
	position:absolute;
	text-align: center;
	top: 75px;
}

.index-part3-title-line {
	width: 40px;
	position: absolute;
	left: 492px;
	top: 125px;
	height: 2px;
}

.index-part3-BC-frame {
	background-image: url(assets/image/1/Blockchain-bg.png);
	background-repeat: no-repeat;
	background-position: center;
	width: 285px;
	height: 286px;
	position: absolute;
	top: 170px;
	opacity: 0;
}

.index-part3-BC-frame1 {
	left: 75px;
}

.index-part3-BC-frame2 {
	left: 370px;
}

.index-part3-BC-frame3 {
	left: 665px;
}

.index-part3-BC-frame-icon {
	background-repeat: no-repeat;
	background-position: center;
	position: absolute;
	top: 53px;
}

.index-part3-BC-frame-icon1 {
	background-image: url(assets/image/1/Blockchain-icon1.png);
	width: 52px;
	height: 59px;
	left: 116px;
}

.index-part3-BC-frame-icon2 {
	background-image: url(assets/image/1/Blockchain-icon2.png);
	width: 48px;
	height: 59px;
	left: 118px;
}

.index-part3-BC-frame-icon3 {
	background-image: url(assets/image/1/Blockchain-icon3.png);
	width: 57px;
	height: 57px;
	left: 114px;
}

.index-part3-BC-frame-title {
	width: 100%;
	text-align: center;
	position: absolute;
	top: 150px;
	opacity: 0.9;
}

.index-part3-BC-frame-content {
	width: 100%;
	text-align: center;
	position: absolute;
	top: 190px;
	opacity: 0.9;
}

.index-part3-info {
	width: 305px;
	position: absolute;
	top: 560px;
}

.index-part3-info1 {
	left: 0px;
}

.index-part3-info2 {
	left: 360px;
}

.index-part3-info3 {
	left: 720px;
}

.index-part3-icon {
	background-repeat: no-repeat;
	background-position: center;
	position: absolute;
}

.index-part3-icon1 {
	background-image: url(assets/image/1/Data_icon.png);
	width: 60px;
	height: 70px;
}

.index-part3-icon2 {
	background-image: url(assets/image/1/Edge_icon.png);
	width: 70px;
	height: 69px;
}

.index-part3-icon3 {
	background-image: url(assets/image/1/Technology_icon.png);
	width: 63px;
	height: 63px;
}

.index-part3-info-title {
	font-size: 30px;
	font-weight: bold;
	position: absolute;
	top: 18px;
	left: 102px;
}

.index-part3-info-content {
	position: absolute;
	top: 115px;
	text-align: left;
}

.index-part3-read-more {
	background-image: url(assets/image/1/button_read-more.png);
	background-repeat: no-repeat;
	background-position: center;
	position: absolute;
	width: 308px;
	height: 69px;
	top: 930px;
	left: 358px;
}

.index-part3-read-more-text {
	position: absolute;
	top: 15px;
	left: 55px;
	font-size: 24px;
	font-weight: bold;
	text-align: left;
}

.index-part4-title {
	position:absolute;
	text-align: center;
	top: 90px;
}

.index-part4-title-line {
	width: 40px;
	position: absolute;
	left: 492px;
	top: 140px;
	height: 2px;
}

.index-part4-frame {
	position:absolute;
	background-image: url(assets/image/1/main_achievement_bg.png);
	background-repeat: no-repeat;
	background-position: center;
	width:232px;
	height:284px;
}

.index-part4-frame1 {
	left:138px;
	top:200px;
}

.index-part4-frame2 {
	left:396px;
	top:200px;
}

.index-part4-frame3 {
	left:654px;
	top:200px;
}

.index-part4-icon {
	position:absolute;
	background-image: url(assets/image/1/main_achievement_circle.png);
	background-repeat: no-repeat;
	background-position: center;
	width:60px;
	height:60px;
	top:42px;
	left:28px;
}

.index-part4-year {
	top:15px;
	position: absolute;
	text-align: center;
	width:100%;
}

.index-part4-content {
	top:80px;
	position: absolute;
	text-align: left;
	width:172px;
	left:0px;
	height:156px;
}

.index-part5-title {
	position:absolute;
	text-align: center;
	top: 80px;
}

.index-part5-title-line {
	width: 40px;
	position: absolute;
	left: 492px;
	top: 132px;
	height: 2px;
}

.index-part5-frame {
	position:absolute;
	background-image: url(assets/image/1/news_report_bg.png);
	background-repeat: no-repeat;
	background-position: center;
	width:822px;
	height:208px;
}

.index-part5-icon {
	position:absolute;
	background-repeat: no-repeat;
	background-position: center;
	width:126px;
	height:98px;
	top:50px;
	left:48px;
}

.index-part5-more {
	position:absolute;
	background-image: url(assets/image/1/button_more.png);
	background-repeat: no-repeat;
	background-position: center;
	width:52px;
	height:40px;
	top:142px;
	left:708px;
}

.index-part5-icon-calendar {
	position:absolute;
	background-image: url(assets/image/1/calendar_icon.png);
	background-repeat: no-repeat;
	background-position: left;
	width:200px;
	height:31px;
	top:144px;
	left:202px;
}

.index-part5-content {
	position: absolute;
	top:34px;
	left: 204px;
	width: 560px;
	text-align: left;
}

.index-arrow-left {
	position:absolute;
	background-image: url(assets/image/1/arrow_left.png);
	background-repeat: no-repeat;
	background-position: center;
	width:28px;
	height:44px;
}

.index-arrow-right {
	position:absolute;
	background-image: url(assets/image/1/arrow_right.png);
	background-repeat: no-repeat;
	background-position: center;
	width:28px;
	height:44px;
}

.index-part5-arrow-left {
	top:260px;
	left:0px;
}

.index-part5-arrow-right {
	top:260px;
	left:996px;
}

.index-part4-arrow-left {
	top:320px;
	left:0px;
}

.index-part4-arrow-right {
	top:320px;
	left:996px;
}

/* research.php stylesheet */
.research-header-container {
	background-image: url(assets/image/2/banner.jpg);
	background-repeat: no-repeat;
	background-position: center;
	height: 496px;
	overflow: visible;
}

.research-s1-container {
	max-width:1920px;
	height:1675px;
	background-size:1920px 1675px;
}

.research-s2-container {
	max-width:1920px;
	height:1485px;
	background-size:1920px 1485px;
}

.research-s3-container {
	max-width:1920px;
	height:1265px;
	background-size:1920px 1265px;
}

.research-part1-container {
	height: 496px;
	max-width:1920px;
}

.research-title {
	text-align: left;
	width: 100%;
	position:absolute;
	top: 255px; /* 155px */
	left: 0px;
	opacity: 0;
}

.research-data-chart {
	background-image: url(assets/image/2/pic_chart.png);
	background-repeat: no-repeat;
	background-position: center left;
	position: absolute;
	top: 120px;
	left: 0px;
	width: 1066px;
	height: 1414px;
}

.research-part2-container {
	height: 1485px;
	max-width:1920px;
}

.research-sub-title1 {
	text-align: left;
	width: 100%;
	position:absolute;
	top: 134px;
	left: 0px;
}

.research-sub-title1-content {
	text-align: left;
	width: 100%;
	position:absolute;
	top: 195px;
	left: 0px;
}

.research-line1 {
	position:absolute;
	top: 395px;
	left: 0px;
	width:100%;
}

.research-sub-title2 {
	text-align: left;
	width: 100%;
	position:absolute;
	top: 480px;
	left: 0px;
}

.research-sub-title2-content {
	text-align: left;
	width: 100%;
	position:absolute;
	top: 540px;
	left: 0px;
}

.research-line2 {
	position:absolute;
	top: 835px;
	left: 0px;
	width:100%;
}

.research-sub-title3 {
	text-align: left;
	width: 100%;
	position:absolute;
	top: 915px;
	left: 0px;
}

.research-sub-title3-content {
	text-align: left;
	width: 100%;
	position:absolute;
	top: 980px;
	left: 0px;
}

.research-line3 {
	position:absolute;
	top: 1150px;
	left: 0px;
	width:100%;
}

.research-sub-title4 {
	text-align: left;
	width: 100%;
	position:absolute;
	top: 1240px;
	left: 0px;
}

.research-sub-title4-content {
	text-align: left;
	width: 100%;
	position:absolute;
	top: 1295px;
	left: 0px;
}

.research-part3-container {
	height: 1265px;
	max-width:1920px;
}

.research-p3-img1 {
	background-image: url(assets/image/2/pic_GPHIDEN.png);
	background-repeat: no-repeat;
	background-position: center;
	width: 382px;
	height: 350px;
	position:absolute;
	left:0px;
	top:78px;
}

.research-p3-img2 {
	background-image: url(assets/image/2/pic_GPCORE.png);
	background-repeat: no-repeat;
	background-position: center;
	width: 387px;
	height: 491px;
	position:absolute;
	left:637px;
	top:380px;
}

.research-p3-img3 {
	background-image: url(assets/image/2/pic_map.png);
	background-repeat: no-repeat;
	background-position: center;
	width: 402px;
	height: 340px;
	position:absolute;
	left:0px;
	top:840px;
}

.research-p3-sub-title1 {
	text-align: left;
	width: 554px;
	position:absolute;
	top: 90px;
	left: 470px;
}

.research-p3-sub-title1-content {
	text-align: left;
	width: 554px;
	position:absolute;
	top: 190px;
	left: 470px;
}

.research-p3-sub-title2 {
	text-align: left;
	width: 600px;
	position:absolute;
	top: 550px;
	left: 0px;
}

.research-p3-sub-title2-content {
	text-align: left;
	width: 545px;
	position:absolute;
	top: 615px;
	left: 0px;
}

.research-p3-sub-title3 {
	text-align: left;
	width: 525px;
	position:absolute;
	top: 905px;
	left: 460px;
}

.research-p3-sub-title3-content {
	text-align: left;
	width: 564px;
	position:absolute;
	top: 965px;
	left: 460px;
}

/* investing.php stylesheet */

.investing-header-container {
	background-image: url(assets/image/3/banner.jpg);
	background-repeat: no-repeat;
	background-position: center;
	height: 496px;
	overflow: visible;
}

.investing-s1-container {
	max-width:1920px;
	height:665px;
	background-size:1920px 665px;
}

.investing-part1-container {
	height: 436px;
	max-width:1920px;
}

.investing-part2-container {
	height: 665px;
	max-width:1920px;
}

.investing-title {
	text-align: left;
	width: 100%;
	position:absolute;
	top: 192px; /*92px;*/
	left: 0px;
	opacity: 0;
}

.investing-title-content {
	text-align: left;
	width: 100%;
	position:absolute;
	top: 275px; /*175px;*/
	left: 0px;
	opacity: 0;
}

.investing-sub-title1 {
	text-align: left;
	width: 100%;
	position:absolute;
	top: 80px;
	left: 0px;
}

.investing-sub-title1-content {
	text-align: left;
	width: 100%;
	position:absolute;
	top: 140px;
	left: 0px;
}

.investing-line {
	position:absolute;
	top: 365px;
	left: 0px;
	width:100%;
}

.investing-sub-title2 {
	text-align: left;
	width: 100%;
	position:absolute;
	top: 455px;
	left: 0px;
}

.investing-sub-title2-content {
	text-align: left;
	width: 100%;
	position:absolute;
	top: 510px;
	left: 0px;
}

/* blockchain.php stylesheet */

.blockchain-header-container {
	width:100%;
	height:1050px;
	background:-ms-linear-gradient(right, #3daceb, #0951b3);
	background:-moz-linear-gradient(right,#0951b3,#3daceb);/*火狐*/
	background:-webkit-gradient(linear, 0% 0%, 100% 0%,from(#0951b3), to(#3daceb));/*谷歌*/
	background-image:-webkit-gradient(linear,left bottom,left top,color-start(0, #0951b3),color-stop(1, #3daceb));/* Safari & Chrome*/  
	filter:progid:DXImageTransform.Microsoft.gradient(GradientType=1,startColorstr='#0951b3', endColorstr='#3daceb'); /*IE6 & IE7*/  
	-ms-filter:progid:DXImageTransform.Microsoft.gradient(GradientType=1,startColorstr='#0951b3', endColorstr='#3daceb'); /* IE8 */
	background-size:1920px 1050px;
	background-repeat: no-repeat;
	background-position: center;
}

.blockchain-part1-container {
	height: 1050px;
	max-width:1920px;
}

.blockchain-anim {
	position:absolute;
	left: 0px;
	top: 100px;
	width: 100%;
	height: 500px;
}

.blockchain-coin {
	position: absolute;
	background-image: url(assets/image/4/Blockchain-icon.png);
	background-repeat: no-repeat;
	background-position: top left;
	background-size: 100%;
	width: 158px;
	height: 157px;
	left:0px;
	top:0px;
	opacity: 0;
}

.blockchain-title {
	width: 100%;
	position:absolute;
	top: 245px; /*145px;*/
	text-align: center;
	left: 0px;
	opacity: 0;
}

.blockchain-title-content {
	width: 100%;
	position:absolute;
	top: 340px; /*240px;*/
	text-align: center;
	left: 0px;
	font-size:24px;
	opacity: 0;
}

.blockchain-box-container {
	background-image: url(assets/image/4/Blockchain-bg.png);
	background-repeat: no-repeat;
	background-position: center;
	position:absolute;
	top: 605px;
	width: 285px;
	height: 286px;
	opacity: 0;
}

.blockchain-box-icon {
	background-repeat: no-repeat;
	background-position: center;
	position:absolute;
	width:59px;
	height: 59px;
	top: 52px;
	left: 113px;
}

.blockchain-box-title {
	width: 100%;
	text-align: center;
	font-size: 24px;
	font-weight: bold;
	opacity: 0.9;
	top: 150px;
	left: 0px;
	position:absolute;
}

.blockchain-box-content {
	text-align: center;
	opacity: 0.9;
	top: 190px;
	left: 0px;
	position:absolute;
	width: 100%;
	font-size: 18px;
}

.blockchain-box1 {
	left: 75px;
}

.blockchain-box2 {
	left: 370px;
}

.blockchain-box3 {
	left: 665px;
}

.blockchain-box1-icon {
	background-image: url(assets/image/4/Blockchain-icon1.png);
}

.blockchain-box2-icon {
	background-image: url(assets/image/4/Blockchain-icon2.png);
}

.blockchain-box3-icon {
	background-image: url(assets/image/4/Blockchain-icon3.png);
}

/* career.php stylesheet */

.career-header-container {
	background-image: url(assets/image/5/Careers_banner.jpg);
	background-repeat: no-repeat;
	background-position: center;
	height: 497px;
	overflow: visible;
}

.career-path-container {
	background-image: url(assets/image/5/Careers_bg_2.jpg);
	background-repeat: no-repeat;
	background-position: center;
	height: 918px;
	overflow: visible;
}

.career-team-container {
	background-image: url(assets/image/5/Careers_bg_3.jpg);
	background-repeat: no-repeat;
	background-position: center;
	height: 381px;
	overflow: visible;
}

.career-partners-container {
	background-image: url(assets/image/5/Careers_bg_4.jpg);
	background-repeat: no-repeat;
	background-position: center;
	height: 806px;
	overflow: visible;
}

.career-associates-container {
	max-width:1920px;
}

.career-part1-container {
	height: 497px;
	max-width:1920px;
}

.career-part2-container {
	height: 918px;
	max-width:1920px;
}

.career-part3-container {
	height: 381px;
	max-width:1920px;
}

.career-part4-container {
	height: 806px;
	max-width:1920px;
}

.career-part5-container {
	max-width:1920px;
}

.career-title {
	width: 100%;
	position:absolute;
	top: 210px; /*110px;*/
	text-align: center;
	left: 0px;
	opacity: 0;
}

.career-title-content {
	width: 100%;
	position:absolute;
	top: 295px; /*195px*/
	text-align: center;
	left: 0px;
	font-size:18px;
	opacity: 0;
}

.career-part2-title1 {
	position: absolute;
	top: 110px;
	text-align: center;
	left: 0px;
}

.career-part2-title2 {
	position: absolute;
	top: 430px;
	text-align: center;
	left: 0px;
}

.career-part2-frame {
	background-image: url(assets/image/5/mail_pic.png);
	background-repeat: no-repeat;
	background-position: center;
	width: 1024px;
	height: 282px;
	position: absolute;
	top: 505px;
	left: 0px;
}

.career-part2-mail {
	background-image: url(assets/image/5/mail_icon.png);
	background-repeat: no-repeat;
	background-position: center;
	width: 74px;
	height: 50px;
	position: absolute;
	top: 62px;
	left: 475px;
}

.career-part2-mail-content {
	width: 100%;
	position: absolute;
	top:140px;
	left: 0px;
	font-weight: bold;
}

.career-part2-jb-title {
	width: 180px;
	font-size:18px;
	font-weight: bold;
	position: absolute;
	top: 182px;
	text-align: center;
	opacity: 0;
}

.career-part2-jb-time {
	width: 180px;
	font-size:18px;
	position: absolute;
	top: 300px;
	text-align: center;
	opacity: 0;
}

.career-part2-jb-text1 {
	left: 62px;
}

.career-part2-jb-text2 {
	left: 206px;
}

.career-part2-jb-text3 {
	left: 350px;
}

.career-part2-jb-text4 {
	left: 494px;
}

.career-part2-jb-text5 {
	left: 638px;
}

.career-part2-jb-text6 {
	left: 782px;
}

.career-part2-jb-connect {
	width: 130px;
	height: 5px;
	position: absolute;
	top: 267px;
	opacity: 0;
}

.career-part2-jb-connect1 {
	left: 159px;
}

.career-part2-jb-connect2 {
	left: 303px;
}

.career-part2-jb-connect3 {
	left: 447px;
}

.career-part2-jb-connect4 {
	left: 591px;
}

.career-part2-jb-connect5 {
	left: 735px;
}

.career-part2-point {
	position: absolute;
	background-image: url(assets/image/5/CareersPath_circle.png);
	background-repeat: no-repeat;
	background-position: center;
	width:20px;
	height:20px;
	top: 260px;
	opacity: 0;
}

.career-part2-point1 {
	left: 142px;
}

.career-part2-point2 {
	left: 286px;
}

.career-part2-point3 {
	left: 430px;
}

.career-part2-point4 {
	left: 574px;
}

.career-part2-point5 {
	left: 718px;
}

.career-part2-point6 {
	left: 862px;
}

.career-part3-title {
	position: absolute;
	top: 178px; /*78px;*/
	text-align: center;
	left: 0px;
	opacity: 0;
}

.career-part3-content {
	position: absolute;
	top: 250px;	/*150px;*/
	text-align: center;
	width: 100%;
	left: 0px;
	opacity: 0;
}

.career-part4-icon-bg {
	position: absolute;
	background-repeat: no-repeat;
	background-position: center;
	width:273px;
	height:272px;
	top:49px;
}

.career-part4-icon-bg1 {
	background-image: url(assets/image/5/Team_bg.png);
	left:218px;
}

.career-part4-icon-bg2 {
	background-image: url(assets/image/5/Team_bg.png);
	left:376px;
}

.career-part4-icon-bg3 {
	background-image: url(assets/image/5/Team_bg.png);
	left:534px;
}

.career-part4-icon-big {
	position: absolute;
	background-repeat: no-repeat;
	background-position: center;
	width:134px;
	height:134px;
	top:118px;
}

.career-part4-icon-big1 {
	background-image: url(assets/image/5/Team_photo_big.png);
	left:287px;
}

.career-part4-icon-big2 {
	background-image: url(assets/image/5/Team_photo_big.png);
	left:445px;
}

.career-part4-icon-big3 {
	background-image: url(assets/image/5/Team_photo_big.png);
	left:603px;
}

.career-part4-icon-sml {
	position: absolute;
	background-repeat: no-repeat;
	background-position: center;
	width:92px;
	height:89px;
	top:140px;
	opacity:0.8;
}

.career-part4-icon-sml1 {
	background-image: url(assets/image/5/Team_photo_small.png);
	left:308px;
}

.career-part4-icon-sml2 {
	background-image: url(assets/image/5/Team_photo_small.png);
	left:466px;
}

.career-part4-icon-sml3 {
	background-image: url(assets/image/5/Team_photo_small.png);
	left:624px;
}

.career-part4-title {
	width:100%;
	position: absolute;
	left:0px;
	top:355px;
	font-size:36px;
	font-weight: bold;
}

.career-part4-name {
	width:100%;
	position: absolute;
	left:0px;
	top:400px;
}

.career-part4-content {
	width:80%;
	position: absolute;
	left:103px;
	top:455px;
}

.career-line {
	position:absolute;
	top: 435px;
	left: 426px;
	width:172px;
	background-color: rgb(255, 255, 255);
	height:1px;
}

.career-part5-title {
	position: absolute;
	top: 104px;
	text-align: center;
	left: 0px;
}

.career-employee-cell {
	position:absolute;
	left:0px;
	width:1024px;
	height:219px;
	background-image: url(assets/image/5/Careers_bg_rectangle.jpg);
	background-repeat: no-repeat;
	background-position: center;
}

.career-employee-icon {
	position:absolute;
	background-repeat: no-repeat;
	background-position: center;
	width: 92px;
	height: 89px;
	left: 56px;
	top:40px;
}

.career-employee-intro {
	position:absolute;
	width: 815px;
	height: 145px;
	left:170px;
	top: 42px;
	text-align: left;
}

/* banner stylesheet */

.banner-container {
	max-width:1920px;
	height:60px;
	background-size:1920px 60px;
}

.banner-logo {
	position: absolute;
	background-image: url(assets/image/1/nav_logo.png);
	background-repeat: no-repeat;
	background-position: center;
	width:53px;
	height:47px;
	left:0px;
	top:30px;
}

.banner-lang {
	position:absolute;
	font-size: 12px;
	color: rgb(255, 255, 255);
	top: 18px;
	left: 90%;
}

.banner-company-name {
	position:absolute;
	font-size: 22px;
	color: rgb(255, 255, 255);
	top: 38px;
	left:60px;
}

.banner-nav-home {
	position:absolute;
	font-size:12px;
	color: rgb(255, 255, 255);
	top:48px;
	left: 370px;
	background-image: url(assets/image/0/nav_icon_home.png);
	background-repeat: no-repeat;
	background-position: left;
	text-align: right;
	width: 55px;
}

.banner-nav-home-pressed {
	position:absolute;
	font-size:12px;
	color: rgb(255, 255, 255);
	top:48px;
	left: 370px;
	background-image: url(assets/image/0/nav_icon_home_pressed.png);
	background-repeat: no-repeat;
	background-position: left;
	text-align: right;
	width: 55px;
}

.banner-nav-research {
	position:absolute;
	font-size:12px;
	color: rgb(255, 255, 255);
	top:48px;
	left: 455px;
	background-image: url(assets/image/0/nav_icon_qr.png);
	background-repeat: no-repeat;
	background-position: left;
	text-align: right;
	width: 148px;
}

.banner-nav-research-pressed {
	position:absolute;
	font-size:12px;
	color: rgb(255, 255, 255);
	top:48px;
	left: 455px;
	background-image: url(assets/image/0/nav_icon_qr_pressed.png);
	background-repeat: no-repeat;
	background-position: left;
	text-align: right;
	width: 148px;
}

.banner-nav-investing {
	position:absolute;
	font-size:12px;
	color: rgb(255, 255, 255);
	top:48px;
	left: 630px;
	background-image: url(assets/image/0/nav_icon_invest.png);
	background-repeat: no-repeat;
	background-position: left;
	text-align: right;
	width: 130px;
}

.banner-nav-investing-pressed {
	position:absolute;
	font-size:12px;
	color: rgb(255, 255, 255);
	top:48px;
	left: 630px;
	background-image: url(assets/image/0/nav_icon_invest_pressed.png);
	background-repeat: no-repeat;
	background-position: left;
	text-align: right;
	width: 130px;
}

.banner-nav-blockchain {
	position:absolute;
	font-size:12px;
	color: rgb(255, 255, 255);
	top:48px;
	left: 790px;
	background-image: url(assets/image/0/nav_icon_block.png);
	background-repeat: no-repeat;
	background-position: left;
	text-align: right;
	width: 140px;
}

.banner-nav-blockchain-pressed {
	position:absolute;
	font-size:12px;
	color: rgb(255, 255, 255);
	top:48px;
	left: 790px;
	background-image: url(assets/image/0/nav_icon_block_pressed.png);
	background-repeat: no-repeat;
	background-position: left;
	text-align: right;
	width: 140px;
}

.banner-nav-career {
	position:absolute;
	font-size:12px;
	color: rgb(255, 255, 255);
	top:48px;
	left: 954px;
	background-image: url(assets/image/0/nav_icon_career.png);
	background-repeat: no-repeat;
	background-position: left;
	text-align: right;
	width: 60px;
}

.banner-nav-career-pressed {
	position:absolute;
	font-size:12px;
	color: rgb(255, 255, 255);
	top:48px;
	left: 954px;
	background-image: url(assets/image/0/nav_icon_career_pressed.png);
	background-repeat: no-repeat;
	background-position: left;
	text-align: right;
	width: 60px;
}

/* footer.php stylesheet */

.footer-container {
	max-width:1920px;
	height:168px;
	background-size:1920px 168px;
}

.footer-text1 {
	width: 100%;
	position:absolute;
	font-size: 14px;
	color: rgb(255, 255, 255);
	top: 38px;
	left: 0px;
	text-align: center;
	opacity: 0.65;
}

.footer-text2 {
	width: 100%;
	position:absolute;
	font-size: 14px;
	color: rgb(1, 174, 225);
	top: 66px;
	left: 0px;
	text-align: center;
	opacity: 0.65;
}

.footer-text3 {
	width: 100%;
	position:absolute;
	font-size: 14px;
	color: rgb(255, 255, 255);
	top: 94px;
	left: 0px;
	text-align: center;
	opacity: 0.65;
}

.footer-text4 {
	position:absolute;
	font-size: 14px;
	color: rgb(255, 255, 255);
	top: 94px;
	left: 82%;
	text-align: right;
	opacity: 0.65;
}

.footer-weibo {
	position:absolute;
	background-image: url(assets/image/1/weibo_button.png);
	top: 86px;
	left: 89%;
	width:38px;
	height:38px;
}

.footer-weixin {
	position:absolute;
	background-image: url(assets/image/1/weixin_button.png);
	top: 86px;
	left: 93%;
	width:38px;
	height:38px;
}